body {
	background-color: black;
}
.main { 
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index:1;
<<<<<<< HEAD
	float: left;

	}
	
	.ryu-container, .ryu {
		width: 659px;
		height: 494px;
		float: left;
=======
	}
	.ryu-container, .ryu {
		float: left;
		width: 659px;
		height: 494px;
>>>>>>> d2cccb462b75eb1415ccd1143084c0490558691d
	}

	.ryu-ready, .ryu-still, .ryu-throwing {
		width: 659px;
		height: 494px;
	}
	.ryu-ready, .ryu-throwing {
		display: none;
	}
<<<<<<< HEAD
	.ryu-ready {
	background-image: url('http://i.imgur.com/L781UMd.gifv');
}
	
	.ryu-still {
  	background-image: url('http://i.imgur.com/313c7ZE.png');
}

	.ryu-throwing {
 	 background-image: url('http://i.imgur.com/gT3ZoFx.png');
}
	.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	 background-repeat: no-repeat;
=======

	.ryu-ready {
		background-image: url('http://i.imgur.com/GzNjbyE.gifv');
	}

	.ryu-still {
		background-image: url('http://i.imgur.com/H69TFES.png')
	}
	.ryu-throwing {
		background-image: url('http://i.imgur.com/G36Accq.png');
	}
	.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}
.hadouken {
  background-image: url('http://i.imgur.com/fcwyRGy.gifv');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
>>>>>>> d2cccb462b75eb1415ccd1143084c0490558691d
}