body {
	background-color: black;
}

.main { 
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index:1;
	float: left;
	}
	
	}
	.container {
		float: left;
	}
	.ryu {
		width: 659px;
		height: 494px;
	}
	
	.ryu-ready, .ryu-throwing {
		display: none;
	}
	
	.ryu-ready {
		background-image: url('../images/ryu-ready-position.gif');
		width: 659px;
		height: 494px;
	}
	.ryu-still {
		display: block;
		background-image: url('../images/ryu-standing-still.png');
		width: 659px;
		height: 494px;
	}
	.ryu-throwing {
		background-image: url('../images/ryu-throwing-hadouken.png');
		width: 659px;
		height: 494px;
	}
	.ryu, .hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  top: 167px;
  left: 520px;
  position: absolute;
  z-index: 10;
  display: none;
  float: left;
}
.ryu-cool {
	background-image: url('../images/ry-cool.gif');
	width: 659px;
	height: 494px;
}
.how-to, p {
	font-size: 20px;
	color: red;
}
 p {
	font-size: 20px;
	color: red;
}





























